body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* nav part start */

header {}

.container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 68, 223, 0.945);
}

.container:hover {
    background-color: rgba(78, 78, 221, 0.678);
}

.half-content1 {
    position: relative;
    left: 250px;
}

.live-vedio a {
    background-color: red;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.live-vedio a:hover {
    background-color: rgba(255, 0, 0, 0.616);
}

h1 {
    font-size: 2.5rem;
}

.half-content2 img {
    position: relative;
    left: 240px;
    width: 50%;
}


/* nav part end */


/* main part start */


/* section 1 start */

.main-content {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.players {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center;
    align-items: center; */
    width: 75%;
}

.player {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px solid whitesmoke;
    width: 330px;
    height: 500px;
    top: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 40px #888888;
}

.player p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.player img {
    position: relative;
    width: 80%;
    border-radius: 5px;
    top: 10px;
}

.player h3 {
    position: relative;
    top: 25px;
}


/* section 1 end */


/* section 2 start */

.Tropy {}

h2 {
    font-size: 4em;
}


}
.Tropy-container {
    width: 100%;
}
.Tropy-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Tropy-content1 {
    position: relative;
    left: 80px;
}
.Tropy-content1 a {
    position: relative;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px;
    bottom: 20px;
}
.Tropy-content1 a:hover {
    background-color: rgba(255, 0, 0, 0.76);
}
.Tropy-content1 p {
    text-align: justify;
}
.Tropy-pic {
    position: relative;
    left: 140px;
}
.Tropy-pic img {
    width: 70%;
}

/* section 2 end */

/* main part end */

/* footer start here */
.footer {
    text-align: center;
    height: 300px;
}
.footer-pic {}
.footer-pic img {
    width: 40%;
}
.footer-social-link {
    position: relative;
    font-size: 3em;
    top: 5px;
}
footer p {
    font-size: medium;
}
.fab {
    color: rgb(172, 160, 160);
}